There are many useful functions in pandas.  It would be impossible to memorize the syntax for all of them.  Instead it's better to:
* Have a general idea of what types of built-in functions exist.
* (Harder.) Be able to read the documentation.

For example, [select-dtypes documentation](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.select_dtypes.html#pandas-dataframe-select-dtypes)

In [2]:
import pandas as pd
import seaborn as sns
import numpy as np

In [3]:
sns.get_dataset_names()

['anagrams',
 'anscombe',
 'attention',
 'brain_networks',
 'car_crashes',
 'diamonds',
 'dots',
 'exercise',
 'flights',
 'fmri',
 'gammas',
 'geyser',
 'iris',
 'mpg',
 'penguins',
 'planets',
 'tips',
 'titanic']

In [5]:
df = sns.load_dataset('car_crashes')

In [6]:
df.shape

(51, 8)

In [19]:
df.head()

,total,speeding,alcohol,not_distracted,no_previous,ins_premium,ins_losses,abbrev
0,18.8,7.332,5.640,18.048,15.040,784.55,145.08,AL
1,18.1,7.421,4.525,16.290,17.014,1053.48,133.93,AK
2,18.6,6.510,5.208,15.624,17.856,899.47,110.35,AZ
3,22.4,4.032,5.824,21.056,21.280,827.34,142.39,AR
4,12.0,4.200,3.360,10.920,10.680,878.41,165.63,CA

In [25]:
df_sub = df.select_dtypes(include = np.number).copy()
df_sub.head()

,total,speeding,alcohol,not_distracted,no_previous,ins_premium,ins_losses
0,18.8,7.332,5.640,18.048,15.040,784.55,145.08
1,18.1,7.421,4.525,16.290,17.014,1053.48,133.93
2,18.6,6.510,5.208,15.624,17.856,899.47,110.35
3,22.4,4.032,5.824,21.056,21.280,827.34,142.39
4,12.0,4.200,3.360,10.920,10.680,878.41,165.63

In [26]:
df[df_sub < 10] = 3

TypeError: Cannot do inplace boolean setting on mixed-types with a non np.nan value

In [27]:
df_sub[df_sub < 10] = 3

In [29]:
df_sub.head()

,total,speeding,alcohol,not_distracted,no_previous,ins_premium,ins_losses
0,18.8,3.0,3.0,18.048,15.040,784.55,145.08
1,18.1,3.0,3.0,16.290,17.014,1053.48,133.93
2,18.6,3.0,3.0,15.624,17.856,899.47,110.35
3,22.4,3.0,3.0,21.056,21.280,827.34,142.39
4,12.0,3.0,3.0,10.920,10.680,878.41,165.63

In [30]:
df[df_sub.columns] = df_sub

In [31]:
df

,total,speeding,alcohol,not_distracted,no_previous,ins_premium,ins_losses,abbrev
0,18.8,3.0,3.000,18.048,15.040,784.55,145.08,AL
1,18.1,3.0,3.000,16.290,17.014,1053.48,133.93,AK
2,18.6,3.0,3.000,15.624,17.856,899.47,110.35,AZ
3,22.4,3.0,3.000,21.056,21.280,827.34,142.39,AR
4,12.0,3.0,3.000,10.920,10.680,878.41,165.63,CA
5,13.6,3.0,3.000,10.744,12.920,835.50,139.91,CO
6,10.8,3.0,3.000,3.000,3.000,1068.73,167.02,CT
7,16.2,3.0,3.000,14.094,16.038,1137.87,151.48,DE
8,3.0,3.0,3.000,3.000,3.000,1273.89,136.05,DC
9,17.9,3.0,3.000,16.468,16.826,1160.13,144.18,FL
10,15.6,3.0,3.000,14.820,14.508,913.15,142.80,GA
11,17.5,3.0,3.000,14.350,15.225,861.18,120.92,HI
12,15.3,3.0,3.000,13.005,14.994,641.96,82.75,ID
13,12.8,3.0,3.000,12.032,12.288,803.11,139.15,IL
14,14.5,3.0,3.000,13.775,13.775,710.46,108.92,IN
15,15.7,3.0,3.000,15.229,13.659,649.06,114.47,IA
16,17.8,3.0,3.000,13.706,15.130,780.45,133.80,KS
17,21.4,3.0,3.000,16.692,16.264,872.51,137.13,KY
18,20.5,3.0,3.000,14.965,20.090,1281.55,194.78,LA
19,15.1,3.0,3.000,13.137,12.684,661.88,96.57,ME
20,12.5,3.0,3.000,3.000,12.375,1048.78,192.70,MD
21,3.0,3.0,3.000,3.000,3.000,1011.14,135.63,MA
22,14.1,3.0,3.000,13.395,10.857,1110.61,152.26,MI
23,3.0,3.0,3.000,3.000,3.000,777.18,133.35,MN
24,17.6,3.0,3.000,3.000,17.600,896.07,155.77,MS
25,16.1,3.0,3.000,14.812,13.524,790.32,144.45,MO
26,21.4,3.0,3.000,17.976,18.190,816.21,85.15,MT
27,14.9,3.0,3.000,13.857,13.410,732.28,114.82,NE
28,14.7,3.0,3.000,13.965,14.553,1029.87,138.71,NV
29,11.6,3.0,3.000,10.092,3.000,746.54,120.21,NH
30,11.2,3.0,3.000,3.000,3.000,1301.52,159.85,NJ
31,18.4,3.0,3.000,12.328,18.032,869.85,120.75,NM
32,12.3,3.0,3.000,10.824,3.000,1234.31,150.01,NY
33,16.8,3.0,3.000,15.792,13.608,708.24,127.82,NC
34,23.9,3.0,10.038,23.661,20.554,688.75,109.72,ND
35,14.1,3.0,3.000,13.959,11.562,697.73,133.52,OH
36,19.9,3.0,3.000,18.308,18.706,881.51,178.86,OK
37,12.8,3.0,3.000,3.000,11.520,804.71,104.61,OR
38,18.2,3.0,3.000,17.472,16.016,905.99,153.86,PA
39,11.1,3.0,3.000,10.212,3.000,1148.99,148.58,RI
40,23.9,3.0,3.000,22.944,19.359,858.97,116.29,SC
41,19.4,3.0,3.000,19.012,16.684,669.31,96.87,SD
42,19.5,3.0,3.000,15.990,15.795,767.91,155.57,TN
43,19.4,3.0,3.000,17.654,16.878,1004.75,156.83,TX
44,11.3,3.0,3.000,3.000,10.848,809.38,109.48,UT
45,13.6,3.0,3.000,13.056,12.920,716.20,109.61,VT
46,12.7,3.0,3.000,11.049,11.176,768.95,153.72,VA
47,10.6,3.0,3.000,3.000,3.000,890.03,111.62,WA
48,23.8,3.0,3.000,23.086,20.706,992.61,152.56,WV
49,13.8,3.0,3.000,3.000,11.592,670.31,106.62,WI
50,17.4,3.0,3.000,14.094,15.660,791.14,122.04,WY